*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
  color: #fafafa;
  background-color: transparent;
  padding: 5px;
  font-size: 12px;
}
.container {
  max-width: 400px;
  margin: 50px auto;
  background-color:rgb(194, 0, 194);
  padding: 20px;
  box-shadow: 0 2px 5px rgba(238, 0, 0, 0.1);
  border-radius: 30px;
}

.add-todo {
  display: flex;
  margin-bottom: 10px;
}

.add-todo input {
  padding-left: 5px;
  font-size: 15px;
  background-color: black;
  color: rgb(255, 13, 255);
  flex: 1;
  border: 2px solid #670024;
  border-radius: 5px 0 0 5px;
}

li {
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #f574a1;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

li span {
  flex: 1;
}

li button {
  font-weight: 500;
  font-size: 12px;
  background-color: rgb(104, 0, 127);
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

li button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

#removeAllButton {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#removeAllButton:hover {
  background-color: #c0392b;
}

body {
    background-color: #000000;
}

.color{
    background-color: rgb(175, 20, 175);
}

.todo_task{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 800;
    padding: 5px;
    font-size:40px;
    text-decoration:underline;

} 

.second_button_class{
    background-color: rgb(163, 25, 194)!important;
    color: black!important;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    padding: 10px 15px;
    cursor: pointer;
}

.second_button_class:hover{
    background-color:rgb(64, 0, 64)!important ;
    color: white!important;  
}

.third_button_class{
    background-color: rgb(163, 25, 194)!important;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    margin-right: 10px
}

.third_button_class:hover{
  background-color:rgb(64, 0, 64)!important ; ;
    color: white;
}
